Code/Presupuesto/Presupuesto/Service References/PresupuestoSisWS/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelMap" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelMap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCentroCostosMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CentroCostosMap" nillable="true" type="tns:CentroCostosMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCentroCostosMap" nillable="true" type="tns:ArrayOfCentroCostosMap" />
  <xs:complexType name="CentroCostosMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentroCostosMap" nillable="true" type="tns:CentroCostosMap" />
</xs:schema>