Code/Presupuesto/Presupuesto/Service References/PresupuestoSisWS/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16953/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_PresupuestoSis" />
  <xs:import schemaLocation="http://localhost:16953/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ModelMap" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_PresupuestoSis" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_PresupuestoSis" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCentrosCosto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCentrosCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelMap" minOccurs="0" name="getCentrosCostoResult" nillable="true" type="q3:ArrayOfCentroCostosMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCentroCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCentroCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCentroCostoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProyectosCentrosCosto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProyectosCentrosCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelMap" minOccurs="0" name="getProyectosCentrosCostoResult" nillable="true" type="q4:ArrayOfProyectoCentroCostosMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProyectoPorCentroCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
        <xs:element minOccurs="0" name="codigoCentroCogosto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProyectoPorCentroCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProyectoPorCentroCostoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCuetaContable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="tipoCC" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCuetaContableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCuetaContableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInflaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getInflacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ModelMap" minOccurs="0" name="getInflacionesResult" nillable="true" type="q5:ArrayOfInflacionMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInflaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="semestreI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semestreII" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInflacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInflacionesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInflaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="semestreI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semestreII" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInflacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddInflacionesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoneda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ModelMap" minOccurs="0" name="GetMonedaResult" nillable="true" type="q6:ArrayOfMonedaMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMoneda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moneda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMonedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMonedaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMonedaById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="moneda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMonedaByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMonedaByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCuentaContable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCuentaContableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ModelMap" minOccurs="0" name="getCuentaContableResult" nillable="true" type="q7:ArrayOfCuentaContableMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoCambio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ModelMap" minOccurs="0" name="GetAllTipoCambioResult" nillable="true" type="q8:ArrayOfTipoCambioMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTipoCambio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="moneda" type="xs:int" />
        <xs:element minOccurs="0" name="ano" type="xs:int" />
        <xs:element minOccurs="0" name="mes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valor" type="xs:decimal" />
        <xs:element minOccurs="0" name="Tipo_Cambio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTipoCambioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>