Code/Presupuesto/Presupuesto/Service References/PresupuestoSisWS/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelMap" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelMap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCentroCostosMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CentroCostosMap" nillable="true" type="tns:CentroCostosMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCentroCostosMap" nillable="true" type="tns:ArrayOfCentroCostosMap" />
  <xs:complexType name="CentroCostosMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdBD" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentroCostosMap" nillable="true" type="tns:CentroCostosMap" />
  <xs:complexType name="ArrayOfProyectoCentroCostosMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProyectoCentroCostosMap" nillable="true" type="tns:ProyectoCentroCostosMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProyectoCentroCostosMap" nillable="true" type="tns:ArrayOfProyectoCentroCostosMap" />
  <xs:complexType name="ProyectoCentroCostosMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentroCosto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdBD" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProyectoCentroCostosMap" nillable="true" type="tns:ProyectoCentroCostosMap" />
  <xs:complexType name="ArrayOfInflacionMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InflacionMap" nillable="true" type="tns:InflacionMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInflacionMap" nillable="true" type="tns:ArrayOfInflacionMap" />
  <xs:complexType name="InflacionMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdBD" type="xs:int" />
      <xs:element minOccurs="0" name="PrimerSemestre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoSemestre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InflacionMap" nillable="true" type="tns:InflacionMap" />
  <xs:complexType name="ArrayOfMonedaMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonedaMap" nillable="true" type="tns:MonedaMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonedaMap" nillable="true" type="tns:ArrayOfMonedaMap" />
  <xs:complexType name="MonedaMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonedaMap" nillable="true" type="tns:MonedaMap" />
  <xs:complexType name="ArrayOfCuentaContableMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CuentaContableMap" nillable="true" type="tns:CuentaContableMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuentaContableMap" nillable="true" type="tns:ArrayOfCuentaContableMap" />
  <xs:complexType name="CuentaContableMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdBD" type="xs:int" />
      <xs:element minOccurs="0" name="TipoCuenta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaContableMap" nillable="true" type="tns:CuentaContableMap" />
  <xs:complexType name="ArrayOfTipoCambioMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoCambioMap" nillable="true" type="tns:TipoCambioMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoCambioMap" nillable="true" type="tns:ArrayOfTipoCambioMap" />
  <xs:complexType name="TipoCambioMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Año" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Meses" nillable="true" type="tns:ArrayOfMesMap" />
      <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCambioMap" nillable="true" type="tns:TipoCambioMap" />
  <xs:complexType name="ArrayOfMesMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MesMap" nillable="true" type="tns:MesMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMesMap" nillable="true" type="tns:ArrayOfMesMap" />
  <xs:complexType name="MesMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MesMap" nillable="true" type="tns:MesMap" />
</xs:schema>