Code/Presupuesto/Presupuesto/Service References/PresupuestoSisWS/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16953/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16953/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16953/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_PresupuestoSis" />
      <xsd:import schemaLocation="http://localhost:16953/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ModelMap" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getCentrosCosto_InputMessage">
    <wsdl:part name="parameters" element="tns:getCentrosCosto" />
  </wsdl:message>
  <wsdl:message name="IService1_getCentrosCosto_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCentrosCostoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateCentroCosto_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCentroCosto" />
  </wsdl:message>
  <wsdl:message name="IService1_updateCentroCosto_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCentroCostoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getProyectosCentrosCosto_InputMessage">
    <wsdl:part name="parameters" element="tns:getProyectosCentrosCosto" />
  </wsdl:message>
  <wsdl:message name="IService1_getProyectosCentrosCosto_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProyectosCentrosCostoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProyectoPorCentroCosto_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProyectoPorCentroCosto" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProyectoPorCentroCosto_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProyectoPorCentroCostoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateCuetaContable_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCuetaContable" />
  </wsdl:message>
  <wsdl:message name="IService1_updateCuetaContable_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCuetaContableResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getInflaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:getInflaciones" />
  </wsdl:message>
  <wsdl:message name="IService1_getInflaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInflacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateInflaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInflaciones" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateInflaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInflacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddInflaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInflaciones" />
  </wsdl:message>
  <wsdl:message name="IService1_AddInflaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInflacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMoneda_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoneda" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMoneda_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMonedaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMoneda_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMoneda" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMoneda_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMonedaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMonedaById_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMonedaById" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMonedaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMonedaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getCuentaContable_InputMessage">
    <wsdl:part name="parameters" element="tns:getCuentaContable" />
  </wsdl:message>
  <wsdl:message name="IService1_getCuentaContable_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCuentaContableResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTipoCambio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTipoCambio" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTipoCambio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTipoCambioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTipoCambio_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoCambio" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTipoCambio_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoCambioResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCentrosCosto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getCentrosCosto" message="tns:IService1_getCentrosCosto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getCentrosCostoResponse" message="tns:IService1_getCentrosCosto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCentroCosto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateCentroCosto" message="tns:IService1_updateCentroCosto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateCentroCostoResponse" message="tns:IService1_updateCentroCosto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProyectosCentrosCosto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getProyectosCentrosCosto" message="tns:IService1_getProyectosCentrosCosto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getProyectosCentrosCostoResponse" message="tns:IService1_getProyectosCentrosCosto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProyectoPorCentroCosto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateProyectoPorCentroCosto" message="tns:IService1_UpdateProyectoPorCentroCosto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateProyectoPorCentroCostoResponse" message="tns:IService1_UpdateProyectoPorCentroCosto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCuetaContable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateCuetaContable" message="tns:IService1_updateCuetaContable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateCuetaContableResponse" message="tns:IService1_updateCuetaContable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInflaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getInflaciones" message="tns:IService1_getInflaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getInflacionesResponse" message="tns:IService1_getInflaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInflaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateInflaciones" message="tns:IService1_UpdateInflaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateInflacionesResponse" message="tns:IService1_UpdateInflaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInflaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddInflaciones" message="tns:IService1_AddInflaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddInflacionesResponse" message="tns:IService1_AddInflaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoneda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMoneda" message="tns:IService1_GetMoneda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMonedaResponse" message="tns:IService1_GetMoneda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMoneda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMoneda" message="tns:IService1_AddMoneda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMonedaResponse" message="tns:IService1_AddMoneda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMonedaById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMonedaById" message="tns:IService1_UpdateMonedaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMonedaByIdResponse" message="tns:IService1_UpdateMonedaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCuentaContable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getCuentaContable" message="tns:IService1_getCuentaContable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getCuentaContableResponse" message="tns:IService1_getCuentaContable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTipoCambio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTipoCambio" message="tns:IService1_GetAllTipoCambio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTipoCambioResponse" message="tns:IService1_GetAllTipoCambio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTipoCambio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTipoCambio" message="tns:IService1_AddTipoCambio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTipoCambioResponse" message="tns:IService1_AddTipoCambio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCentrosCosto">
      <soap:operation soapAction="http://tempuri.org/IService1/getCentrosCosto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCentroCosto">
      <soap:operation soapAction="http://tempuri.org/IService1/updateCentroCosto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProyectosCentrosCosto">
      <soap:operation soapAction="http://tempuri.org/IService1/getProyectosCentrosCosto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProyectoPorCentroCosto">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateProyectoPorCentroCosto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCuetaContable">
      <soap:operation soapAction="http://tempuri.org/IService1/updateCuetaContable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInflaciones">
      <soap:operation soapAction="http://tempuri.org/IService1/getInflaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInflaciones">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateInflaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInflaciones">
      <soap:operation soapAction="http://tempuri.org/IService1/AddInflaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneda">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMoneda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMoneda">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMoneda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMonedaById">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMonedaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCuentaContable">
      <soap:operation soapAction="http://tempuri.org/IService1/getCuentaContable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTipoCambio">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTipoCambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTipoCambio">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTipoCambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:16953/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>